<div class="container">
  <h1>{{ "ABOUT.TITLE" | translate }}</h1>
  <p>{{ "ABOUT.INTRODUCTION" | translate }}</p>
  
  <h2>{{ "ABOUT.MISSION" | translate }}</h2>
  <p>{{ "ABOUT.MISSION_CONTENT" | translate }}</p>
  
  <h2>{{ "ABOUT.OFFERINGS" | translate }}</h2>
  <p>{{ "ABOUT.OFFERINGS_CONTENT" | translate }}</p>
  
  <h2>{{ "ABOUT.COMMUNITY_IMPORTANCE" | translate }}</h2>
  <p>{{ "ABOUT.COMMUNITY_IMPORTANCE_CONTENT" | translate }}</p>
  
  <h2>{{ "ABOUT.FUTURE_FEATURES" | translate }}</h2>
  <ul>
    <li>{{ "ABOUT.FUTURE_FEATURE_1" | translate }}</li>
    <li>{{ "ABOUT.FUTURE_FEATURE_2" | translate }}</li>
    <li>{{ "ABOUT.FUTURE_FEATURE_3" | translate }}</li>
    <li>{{ "ABOUT.FUTURE_FEATURE_4" | translate }}</li>
    <li>{{ "ABOUT.FUTURE_FEATURE_5" | translate }}</li>
  </ul>
  
  <h2>{{ "ABOUT.GET_INVOLVED" | translate }}</h2>
  <p>{{ "ABOUT.GET_INVOLVED_CONTENT" | translate }}</p>
</div>
