.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 75%;
    margin-left: 20%;
    padding: 20px;
    border: 1px solid #04209f89;
    border-radius: 10px;
    background-color: #efefeff5;

    .form-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        textarea {
            resize: vertical;
        }
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #091d31;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:disabled {
            background-color: #aaa;
            cursor: not-allowed;
        }
    }
}