@use 'sass:color';
// Variables for color palette
$contact-background-color: #3333334f;
$contact-text-color: #f5f5f5;
$contact-button-gradient: linear-gradient(135deg, #a2c2e6, #f3e6f5);
$contact-button-text-color: #9e9d9d;
$contact-border-color: #444;
$contact-placeholder-color: #545454;
$contact-error-color: #e74c3c;

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 60%;
    margin: 0 auto; // Center the container
    margin-top: 5%;
    padding: 20px;
    border: 1px solid $contact-border-color;
    border-radius: 10px;
    background-color: $contact-background-color;

    .alert {
        margin-top: 15px;
      }
      
    .form-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: $contact-text-color;
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid $contact-border-color;
            border-radius: 5px;
            background-color: $contact-background-color;
            color: $contact-text-color;
            box-sizing: border-box;

            &::placeholder {
                color: $contact-placeholder-color;
            }
        }

        textarea {
            resize: vertical;
        }

        .error {
            color: $contact-error-color;
            font-size: 14px;
            margin-top: 5px;
        }

        input.ng-invalid.ng-touched,
        textarea.ng-invalid.ng-touched {
            border-color: $contact-error-color;
        }
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: $contact-button-gradient; // Apply the gradient here
        color: $contact-button-text-color;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.3s ease; // Use `background` for gradients

        &:hover {
            background: linear-gradient(
                135deg,
                color.adjust(#a2c2e6, $lightness: -10%),
                color.adjust(#f3e6f5, $lightness: -10%)
            ); // Adjust gradient for hover using color.adjust()
        }

        &:disabled {
            background: $contact-button-gradient;
            opacity: 0.6;
            cursor: not-allowed;
        }
    }
}
