:host {
    display: block;
    width: 100%;
    /* This should match the width defined in the parent */
    box-sizing: border-box;
    /* Ensure padding and border are included in the width */
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(240, 248, 255, 0.613);
}

.card-header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.card-body {
    font-size: 16px;
}