<nav class="cloudy-navbar">
  <ul>
    <li>
      <a routerLink="/home">{{ "NAV.HOME" | translate }}</a>
    </li>
    <li>
      <a routerLink="/about">{{ "NAV.ABOUT" | translate }}</a>
    </li>
    <li>
      <a routerLink="/contact">{{ "NAV.CONTACT" | translate }}</a>
    </li>
    <li>
      <a routerLink="/self-help-emergency">{{ "NAV.NEEDHELP" | translate }}</a>
    </li>
    <li>
      <a routerLink="/suggestion-box">{{ "NAV.SUGGESTIONBOX" | translate }}</a>
    </li>
  </ul>

  <div class="auth-links">
    <a routerLink="/login">{{ "NAV.LOGIN" | translate }}</a>
    <a routerLink="/signup">{{ "NAV.SIGNUP" | translate }}</a>
  </div>

  <div>
    <a (click)="switchLanguage('en')" class="flag-link">
      <img src="assets/flags/uk-flag.png" alt="English" class="flag-icon" />
    </a>
    <a (click)="switchLanguage('de')" class="flag-link">
      <img
        src="assets/flags/germany-flag.png"
        alt="Deutsch"
        class="flag-icon"
      />
    </a>
  </div>
</nav>
