<div class="background">
  <div class="suggestions-container">
    <h2>Community Suggestions</h2>
    <div *ngFor="let suggestion of suggestions" class="suggestion-card">
      <div class="suggestion-content">
        <p>{{ suggestion.type }}</p>
        <small>{{ suggestion.createdAt }}</small>
      </div>
      <div class="actions">
        <button class="like-button" >
          👍 {{ suggestion.likes }}
        </button>
      </div>
      <div class="comments-section">
        <h3>Comments</h3>
        <div *ngFor="let comment of suggestion.comments" class="comment">
          <p>{{ comment.text }}</p>
          <small>{{ comment.createdAt  }}</small>
        </div>
        <form (ngSubmit)="addComment(suggestion)" #commentForm="ngForm">
          <textarea
            name="comment"
            [(ngModel)]="newComment"
            required
            placeholder="Enter your comment..."
          ></textarea>
          <button type="submit" [disabled]="!commentForm.form.valid">
            Add Comment
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
