<div class="background">
  <div class="suggestion-box">
    <h2>{{ 'SUGGESTION_FORM.TITLE' | translate }}</h2>
    <p class="description">
      {{ 'SUGGESTION_FORM.DESCRIPTION' | translate }}
    </p>
    <form (ngSubmit)="onSubmit()" #suggestionForm="ngForm">
      <textarea
        name="suggestion"
        [(ngModel)]="suggestion"
        required
        placeholder="{{ 'SUGGESTION_FORM.PLACEHOLDER' | translate }}"
      ></textarea>
      <button type="submit" [disabled]="!suggestionForm.form.valid">
        {{ 'SUGGESTION_FORM.SUBMIT_BUTTON' | translate }}
      </button>
      <button (click)="navigateToAnotherComponent()" class="otherButton">
        {{ 'SUGGESTION_FORM.SEE_OTHER_BUTTON' | translate }}
      </button>
    </form>
  </div>
</div>
