.sidebar {
    width: 250px;
    /* Fixed width for the sidebar */
    background-color: #111;
    padding-top: 20px;
    position: fixed;
    /* Fixed position to keep it in place */
    top: 0;
    bottom: 0;
    /* Ensure it spans the full height of the viewport */
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: aquamarine;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}