.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the content horizontally */
}

.home-main-content {
    width: 100%;
    /* Full width of the available space */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
}