.book-recommendations-container {
    max-width: 800px; // Set a maximum width for the container
    margin: 0 auto; // Center the container horizontally
    padding: 16px;
    background-color: #f9f9f97f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .recommendations-title {
        font-size: 1.5rem;
        margin-bottom: 12px;
        color: #333;
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;

        .book-item {
            background: #ffffffd3;
            padding: 12px;
            margin-bottom: 10px;
            border-radius: 6px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;

            h3 {
                font-size: 1.25rem;
                margin: 0;
                color: #007BFF; // Change color as desired
            }

            p {
                margin: 8px 0;

                strong {
                    color: #555; // Color for labels
                }
            }

            &:hover {
                transform: translateY(-2px);
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            }
        }
    }
}

.no-books-message {
    text-align: center;
    color: #888;
    font-size: 1rem;
    margin-top: 20px;
}